.apresentacao{
    display: flex;
    height: 80vh;
    width: 100%;
    background-color: #26292B;
    align-items: center;
    justify-content: center;
}
.txtApresenta{
    height: 100%;
    width: 50%;
    background-color: #0078c9;
    margin-left: 10px;
}
.imgApresenta{
    height: 100%;
    width: 50%;
    background-color: #ffffff;
    margin-right: 10px;
}