{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'global/arquivosCSS/style.css' %}">
</head>
<body>


    <!--HEADER INICIO-->
    <div class="header">

        {% block header %}{% endblock header %}

     </div>
    <!--HEADER FIM-->


    <!--APRESETAÇÃO INICIO-->
    <div class="apresentacao">

        {% block apresentacao %}{% endblock apresentacao %}
       
    </div>
    <!--APRESETAÇÃO FIM-->


    <!--SOBRE INICIO-->
    <div class="sobre">

        {% block sobre %}{% endblock sobre %}

     </div>
    <!--SOBRE FIM-->


    <!--CONTATO INICIO-->
    <div class="contato">

        {% block contato %}{% endblock contato %}

     </div>
    <!--CONTATO FIM-->

    
    <!--FOOTER INICIO-->
    <div class="footer">

        {% block footer %}{% endblock footer %}

     </div>
    <!--FOOTER FIM-->


</body>
</html>